---
permalink: /feed
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>tag:{{ site.uri }},2019:/feed</id>
  <link rel="alternate" type="text/html" href="{{ site.url }}"/>
  <link rel="self" type="application/atom+xml" href="{{ site.url }}/feed"/>
  <title>{{ site.title | escape }}</title>
  <updated>{{ site.updated }}</updated>
  <author>
    <name>{{ site.author }}</name>
    <uri>{{ site.url }}</uri>
  </author>
  <generator>Jekyll</generator>
  {% for post in site.posts reversed %}
  <entry>
    <id>tag:{{ site.uri}}:Post{{ post.id }}</id>
    <published>{{ post.published | date_to_xmlschema }}</published>
    <updated>{% if post.updated %}{{ post.updated | date_to_xmlschema }}{% else %}{{ post.published | date_to_xmlschema }}{% endif %}</updated>
    <link rel="alternate" type="text/html" href="{{ site.url }}{{ post.id }}"/>
    <title>{{ post.title }}</title>
    <content type="html">
      {{ post.content | xml_escape }}
    </content>
  </entry>
  {% endfor %}
</feed>
