body {
  --color: #454344;
  --color-2: #818280;
  --background-color: #FAFFFA;
  --color-a: #1336E4;
  --color-a--visited: #5B00C4;
  --x: 16px;
  --h: calc(var(--x) * 1.625);
  max-width: calc(36.25 * var(--x));
  margin: calc(var(--x) * 0.5);
  padding: calc(var(--x) / 2);
  font-family: -apple-system, sans-serif;
  font-size: var(--x);
  line-height: var(--h);
  color: var(--color);
  background-color: var(--background-color);
}

@media (min-width: 1024px) {
  aside {
    --x: 12px;
    font-size: var(--x);
    float: right;
    width: calc(var(--x) * 10);
    margin-right: calc(var(--x) * -12);
  }
}

@media (min-width: 1200px) {
  aside {
    width: calc(var(--x) * 20);
    margin-right: calc(var(--x) * -22);
  }
}

aside {
  color: var(--color-2);
}

h1 {
  margin: 0 0 var(--x);
  font-size: calc(1.41 * var(--x));
  font-weight: 600;
}

h2 {
  margin: 0 0 var(--x);
  font-size: calc(1.31 * var(--x));
  font-weight: 600;
}

p {
  margin: 0 0 var(--x);
}

a {
  color: var(--color-a);
}

a:visited {
  color: var(--color-a--visited);
}

sup {
  line-height: 1;
}

td {
  padding: calc(var(--x) / 2);
}

.footnotes {
  margin: calc(3 * var(--x)) 0 0;
  color: var(--color-2);
}

hr {
  height: 1px;
  width: 100%;
  margin: var(--x) auto;
  background-color: var(--color-2);
  border: none;
}

svg {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    --color: #D2DADF;
    --color-2: #B6B2B0;
    --background-color: #252525;
    --color-a: #A4C2FC;
    --color-a--visited: #f077ec;
  }
}
